<div class="container" id="stats-table">
  <h4> Invite a Friend!</h4>
  <br>
  <section class='invite-friend'>
    <%= form_tag "/send_invite", method: :get do %>
      <%= text_field_tag :email, nil, placeholder: "Email" %>
      <%= submit_tag "Send Invite" %>
    <% end %>
  </section>
</div>
