<div class="row-fluid">
  <div class="col-sm-3">
    <div class = "center" style="text-align: center">
      <img src="https://thumbs.gfycat.com/BriskLankyCopperhead-size_restricted.gif" alt="Tomato" height="150" width="200">
    </div>
  </div>
  <div class="col-sm-6">
    <div class = "center" style="text-align: center">
      <h2>Welcome!</h2>
      <h5>About Tomato Time:</h5>
      <p>Play the trivia game of your choice! Choose your trivia category, difficulty, and number of questions that you would like to answer.</p>
      <p>Time to get tomato-red saucy!</p>
    </div>
  </div>
  <div class="col-sm-3 right">
    <div class = "center" style="text-align: center">
      <img src="https://thumbs.gfycat.com/BriskLankyCopperhead-size_restricted.gif" alt="Tomato" height="150" width="200">
    </div>
  </div>
</div>
